<!doctype html>
<html lang="en">
    <head>
    </head>
    <body>
        <h1>Welcome to monument</h1>
        <p>"It never gets easier, you just go faster" - Greg Lemond</p>
        <p> You are on version {{= it.version }} of your project</p>
    </body>
</html>
